beautifulsoup4==4.4.1
catfish==1.4.2
certifi==2018.8.24
chardet==3.0.4
command-not-found==0.3
defer==1.0.6
Django==2.1
django-polls==0.1
geoip2==2.9.0
html5lib==0.999
idna==2.7
language-selector==0.1
lightdm-gtk-greeter-settings==1.2.1
lxml==3.5.0
maxminddb==1.4.1
menulibre==2.1.3
mugshot==0.3.1
onboard==1.2.0
pexpect==4.0.1
Pillow==8.3.2
pipenv==2018.7.1
psutil==3.4.2
ptyprocess==0.5
pycups==1.9.73
pycurl==7.43.0
pygobject==3.20.0
python-apt==1.1.0b1+ubuntu0.16.4.1
python-debian==0.1.27
python-systemd==231
pytz==2018.5
pyxdg==0.25
reportlab==3.3.0
requests==2.19.1
sessioninstaller==0.0.0
six==1.10.0
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
whitenoise==4.0
xkit==0.0.0
